<nav class="" role="navigation">
   <div class="nav-wrapper container">
     <a href="/"><img id='logo' src="https://cdn3.iconfinder.com/data/icons/hotel-services-facilities/256/Library-512.png" alt="Logo"></a>
    <a id="logo-container" href="/" class="brand-logo">Think Tank Books</a>
     <ul class="right hide-on-med-and-down">
       <li><a href="/books/?page=1">Books</a></li>
       <li><a href="/authors/?page=1">Authors</a></li>
     </ul>
     <!-- hamburger menu -->
     <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul id="nav-mobile" class="side-nav">
       <li><a href="/books/?page=1">Books</a></li>
       <li><a href="/authors/?page=1">Authors</a></li>
     </ul>
   </div>
 </nav>
