html {
  font-family: Arial;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  a.brand-logo {
    /*padding-left: 1em;*/
    color: rgb(0, 0, 0);
  }

  nav {
    background-color: rgba(255, 255, 255, 0.55);
}

  nav ul a {
    color: rgb(0, 0, 0);;
}

.card {
  cursor: pointer;
}

.card img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: none;
  filter: none;
}

#logo {
  width: 70px;
  height: 70px;
  padding-bottom: 1em;
}

.card.medium {
    height: 500px;
}

.row {
    margin-top: 20px;
}

.img-for-single-author {
  width: 60%;
  height: 100%;
  padding-top: 4em;
  /*margin-left: auto;*/
}

.books-image {
  width: 100%;
  height: 95%;
}

.card-action {
    border-top: 1px solid rgba(99, 99, 99, 0.67);
    z-index: 3;
}

.input-field .prefix {
    margin-left: -2em;
}

.orange.accent-4 {
    background-color: rgba(99, 99, 99, 0.67) !important;
}

.red.lighten-1 {
    background-color: rgba(78, 77, 77, 0.81) !important;
}

.green {
    background-color: rgba(78, 77, 77, 0.81) !important;
}

.light-blue.accent-1 {
    background-color: rgb(115, 180, 180) !important;
}

.z-depth-1, footer, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

footer.page-footer {
    background-color: rgba(255, 255, 255, 1);
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.67);
}

.footer-copyright {
  text-align: center;
}
